.curso {
  width: 100%;
  padding: 64px 0;
  background-color: #fff;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.curso-descricao {
  width: 100%;
  max-width: 580px;

  .title {
    color: $gold;

    svg use {
      fill: $gold;
    }
  }

  .curso-content {
    margin-bottom: 32px;
    opacity: 0;
    transform: translate3d(0, -30px, 0);

    &.animar {
      animation: reset 0.5s ease-out forwards;
    }

    p {
      margin: 14px 0;
    }
  }

  h3 {
    @extend %titleSerif;

    opacity: 1;
    transform: unset;
  }

  ul {
    margin-bottom: 32px;

    &:not(.dados) {
      padding-left: 20px;

      li {
        list-style-type: disc;
      }
    }
  }

  .wpp {
    border-radius: 24px;
    border: 2px solid $gold;
    padding: 8px 16px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    max-width: 400px;
    opacity: 0;
    transform: translate3d(0, -30px, 0);

    &.animar {
      animation: reset 0.5s ease-out forwards;
    }
  }

  .wpp {
    transition: 0.3s background-color;

    p {
      color: $gold;
      font-size: 12px;
      line-height: 0;
      transition: 0.3s color;
    }

    ion-icon {
      margin-right: 8px;
      font-size: 16px;
      color: $gold;
      transition: 0.3s color;
    }

    &:hover {
      background-color: $gold;

      p {
        color: #fff;
      }

      ion-icon {
        color: #fff;
      }
    }
  }
}

.curso-detalhes {
  width: 100%;
  max-width: 400px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  background-color: $gold;
  padding: 64px 32px;
  border-radius: 16px;

  h3 {
    @extend %titleSerif;
    text-align: center;
  }

  ul {
    margin-bottom: 16px;
    max-width: 260px;
    align-self: center;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 16px;

      ion-icon {
        font-size: 24px;
        margin-right: 10px;
      }

      span {
        flex: 1;
        color: #fff;
        font-size: 14px;
      }
    }
  }

  .price {
    align-self: center;
    background-color: $black;
    color: #fff;
    border-radius: 32px;
    padding: 8px 32px;
    font-size: 22px;
    text-align: center;
    margin-bottom: 8px;
  }

  strong {
    align-self: center;
    color: #fff;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    text-align: center;
  }
}

@media screen and (min-width: 600px) {
  .curso-detalhes ul li {
    span {
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 1050px) {
  .curso {
    z-index: 2;

    .container {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  .curso-detalhes {
    transform: translate3d(0, -150px, 0);
  }
}

@import './cursoCard';
