.cursos-outside {
  width: 100%;
  background-color: #fff;
  padding: 64px 0;

  .container {
    display: flex;
    flex-direction: column;

    .title {
      color: $gold;

      svg use {
        fill: $gold;
      }
    }

    h3 {
      @extend %titleSerif;
    }

    p {
      opacity: 0;
      transform: translate3d(0, -30px, 0);

      &.animar {
        animation: reset 0.5s ease-out forwards;
      }
    }
  }
}

.cursos-list {
  width: 100%;
  padding: 64px 0;
  background-color: $gold;

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 32px;

    .home-cursos-item {
      width: 100%;
    }
  }
}

@media screen and (min-width: 600px) {
  .cursos-list .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1050px) {
  .cursos-list .container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 64px;
  }
}

@import './cursoInside';
