.home-servicos {
  width: 100%;
  background-color: #fff;
  padding: 64px 0;

  .container {
    display: flex;
    flex-direction: column;

    h2 {
      @extend %titleSerif;
      text-align: center;
    }

    .cta {
      align-self: center;
    }
  }
}

.home-servicos-list {
  width: 100%;
  height: 270px;
  margin-bottom: 32px;
  position: relative;
  overflow-x: hidden;

  .servicos-right,
  .servicos-left {
    @extend %buttonSlide;
  }

  .servicos-right {
    right: 15px;
  }

  .servicos-left {
    left: 15px;
  }

  ul {
    height: 100%;
    display: -webkit-box;
    transition: 0.5s ease-out;

    li a {
      width: 90vw;
      height: 100%;
      display: flex;
      flex-direction: column;
      transform: translate3d(0, -30px, 0);
      opacity: 0;

      &.animar {
        animation: reset 0.5s ease-out forwards;
      }

      img {
        width: 100%;
        height: 210px;
        object-fit: cover;
        transition: 0.4s opacity ease-out;
      }

      &:hover img {
        opacity: 0.7;
      }

      h3 {
        background-color: $black;
        color: #fff;
        width: 100%;
        padding: 16px 0;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .home-servicos-list {
    height: auto;

    .servicos-right,
    .servicos-left {
      display: none;
    }

    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 180px;
      grid-gap: 16px;

      li a {
        width: 100%;

        img {
          height: auto;
          flex: 1;
        }

        h3 {
          padding: 8px 0;
        }
      }
    }
  }
}

@media screen and (min-width: 850px) {
  .home-servicos {
    padding: 128px 0;

    .container h2 {
      margin-bottom: 64px;
    }
  }

  .home-servicos-list ul {
    display: grid;
    grid-auto-rows: 250px;

    li a img {
      height: 180px;
      flex: 1;
    }
  }
}
