.mildias-content {
  width: 100%;
  padding: 32px 0 64px;

  .container {
    display: flex;
    flex-direction: column;
  }
}

.menu-mildias {
  width: 100%;
  padding: 32px;
  background-color: $gold;
  display: flex;
  flex-direction: column;

  button {
    background-color: $black;
    border-radius: 32px;
    padding: 16px 0;
    color: #ffffff;
    border: 1px solid $black;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin-bottom: 8px;
    transition: 0.3s color, 0.3s background-color;
    cursor: pointer;

    &:hover,
    &.ativo {
      color: $black;
      background-color: transparent;
    }
  }
}

#mildias-txt {
  width: 100%;
  max-width: 580px;
  align-self: center;
  margin-top: 32px;
  display: none;
  flex-direction: column-reverse;

  &.ativo {
    display: flex;
  }

  .title {
    color: $gold;

    svg use {
      fill: $gold;
    }
  }

  > div {
    width: 100%;
  }

  h3 {
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    letter-spacing: 0.05em;
    margin: 16px 0;
  }

  p {
    margin: 14px 0;
  }

  img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1050px) {
  .menu-mildias {
    flex-direction: row;
    justify-content: center;

    button {
      padding: 8px 32px;
      margin: 0 8px;
    }
  }

  #mildias-txt {
    max-width: unset;
    display: none;

    &.ativo {
      display: block;
    }

    > img {
      width: 50%;
      height: 480px;
      margin-left: 32px;
      margin-bottom: 32px;
      float: right;
      max-width: unset;
    }

    > div {
      display: contents;
    }
  }
}
